/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
body {
	font-family: "lexia";
}
h1, h2 {
	font-family: "proxima-nova-alt-ext-cond";
}
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background-color: #D12229;
}
.color-2 {
	background-color: #6D6E70;
}
.color-3 {
	background-color: black;
}
.pattern-1 {
	background: url("../img/tweed.png");
}
.pattern-2 {
	background: url("../img/binding.png");
}
.pattern-3 {
	background: url("../img/fabric.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}